*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253 ,230 ,138, 0.5);
}
.header{
    position: sticky;
    width: 100%;
    height: 65px;
    border: 4px solid black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 9999999px;
      box-sizing: border-box; 
  max-width: fit-content;
    max-width: 80rem;
    padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 0.80rem;
        background-color: rgb(253 230 138 );


}
.head{
    /* width: 80rem; */
  box-sizing: border-box; 
   min-width: fit-content; 
display: flex;
justify-content: center;
  padding-top:1rem;
  margin-bottom: 1rem;
  margin: auto;
  /* position: sticky; */
}

.upload button{
    height: 3rem;
    width: 6em;
    border-radius: 99px;
    color: black;
    font-size: 1.125rem;
    background-color:  rgb(37 211 102);
}
#img{
      height: 3rem;
    width: 3rem;
    border: 50%;
    background-image: url();
    
}

.select-box{
    position: static;
  
    align-self: center;
  

}


.selection{
    height: 60px;
    width: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#id1{
    height: 50px;
    width: 100px;
    font-size: large;
}
.pdf{
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
}